---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
import { siteConfig } from '../config';

const title = siteConfig.title;
---

<Layout title={title} description={siteConfig.description}>
  <Header />
  <main id="main">
    <Hero />
    <Projects />
    <About />
  </main>
  <Footer />
</Layout>